<!--
<?php
print <<<EOT
--> 
<table width='100%' cellspacing='1' cellpadding='3' bgcolor='#CCCCCC' class="tablewidth">
  <tr> 
    <td> <a href="$admin_path&file=form_content&job=list&mid=$mid">$fidDB[name]</a></td>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3' bgcolor='#CCCCCC' class="tablewidth">
  <tr class="head"> 
    <td   align="center">查看内容 </td>
  </tr>
  <tr> 
    <td width="100%" height="93" valign="top" class="Main"> 
      <table width="99%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:8px;">
        <tr> 
          <td style="color:#990000;font-weight:bold;font-size:14px;" align="center">$rsdb[title]</td>
        </tr>
      </table>
      <table width="99%" border="0" cellspacing="0" cellpadding="0"  style="margin-bottom:8px;border-bottom:1px solid #ccc;">
        <tr> 
          <td align="center"> [ 提交者:{$rsdb[username]} |&#160;时间:{$rsdb[posttime]} 
            ]</td>
        </tr>
      </table>
      <table width="99%" border="0" cellspacing="1" cellpadding="3" >
        <tr> <td style='border-bottom:1px dotted #ccc;'>申请哪个栏目的版主:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[sortname]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>每天上网几个小时:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[webtime]}&#160;小时&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>真实姓名:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[truename]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>性别:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[sex]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>联系QQ:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[oicq]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>手机号码:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[mobphone]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>兴趣爱好:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[interest]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>自我介绍:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[introduce]}&#160;&#160;&#160;</td></tr></table></td></tr> 
        <tr> 
          <td width="20%">是否已$fidDB[statename]:</td>
          <td width="80%"> 
            <!--
EOT;
if($rsdb[yz]){
print <<<EOT
-->
            <a href="$admin_path&file=form_content&job=yz&yz=0&mid=$mid&id=$id"><img alt='是' src="images/check_yes.gif" border="0"></a> 
            <!--
EOT;
}else{
print <<<EOT
-->
            <a href="$admin_path&file=form_content&job=yz&yz=1&mid=$mid&id=$id"><img alt='否' src="images/check_no.gif" border="0"></a> 
            <!--
EOT;
}
print <<<EOT
-->
          </td>
        </tr>
 
        <tr> 
          <td width="20%" style='border-top:1px dotted #ccc;'>&#160;</td>
          <td width="80%" style='border-top:1px dotted #ccc;'><a href="$admin_path&file=form_content&job=reply&mid=$mid&id=$id"><img src="images/edit.png" border="0">解答回复</a></td>
        </tr>
 
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
