<!--
<?php
if($mid==6&&!$web_admin&&$lfjuid!==$rsdb[uid]&&$lfjdb[grouptype]!=1){
$rsdb[oicq]=$rsdb[telephone]=$rsdb[email]='<font color="blue">保密了,只有企业用户才可查看</font>';
}
print <<<EOT
--> <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="100%" height="200" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG"><a href="list_form.php?mid=$mid">$fidDB[name]</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle">
            <table width="99%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:8px;">
              <tr> 
                <td style="color:#990000;font-weight:bold;font-size:14px;" align="center">$rsdb[title]</td>
              </tr>
            </table>
            <table width="99%" border="0" cellspacing="0" cellpadding="0"  style="margin-bottom:8px;border-bottom:1px solid #ccc;">
              <tr> 
                <td align="center"> 提交者:{$rsdb[username]} |&#160;时间:{$rsdb[posttime]} 
                  </td>
              </tr>
            </table>
            <table width="99%" border="0" cellspacing="1" cellpadding="3" >
              <tr> <td style='border-bottom:1px dotted #ccc;'>申请哪个栏目的版主:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[sortname]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>每天上网几个小时:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[webtime]}&#160;小时&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>真实姓名:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[truename]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>性别:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[sex]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>联系QQ:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[oicq]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>手机号码:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[mobphone]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>兴趣爱好:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[interest]}&#160;&#160;&#160;</td></tr></table></td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>自我介绍:</td> <td  style='border-bottom:1px dotted #ccc;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;'><tr><td>{$rsdb[introduce]}&#160;&#160;&#160;</td></tr></table></td></tr> 
              <tr> 
                <td width="20%">是否已$fidDB[statename]:</td>
                <td width="80%"> 
                  <!--
EOT;
if($rsdb[yz]){
print <<<EOT
-->
                  <img alt='是' src="$webdb[www_url]/member/images/check_yes.gif" border="0"> 
                  <!--
EOT;
}else{
print <<<EOT
-->
                  <img alt='否' src="$webdb[www_url]/member/images/check_no.gif" border="0"> 
                  <!--
EOT;
}
print <<<EOT
-->
                </td>
              </tr>
              <!--
EOT;
if(($lfjuid&&$rsdb[uid]==$lfjuid)||$web_admin){
print <<<EOT
-->
              <tr> 
                <td width="20%" style='border-top:1px dotted #ccc;'>&#160;</td>
                <td width="80%" style='border-top:1px dotted #ccc;'> <a href="form.php?lfj=$lfj&action=del&id=$rsdb[id]&mid=$rsdb[mid]" onClick="return confirm('你确实要删除吗?不可恢复');">删除</a> 
                  <a href="form.php?lfj=$lfj&job=edit&id=$rsdb[id]&mid=$rsdb[mid]">修改</a> 
                </td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
              <!--
EOT;
if($replydb&&$mid==3){
print <<<EOT
-->
              <tr> 
                <td width="20%" style='border-top:1px dotted #ccc;'><font color="#FF0000">管理员帐号:</font></td>
                <td width="80%" style='border-top:1px dotted #ccc;'>$replydb[username]</td>
              </tr>
              <tr> 
                <td width="20%" style='border-top:1px dotted #ccc;'><font color="#FF0000">处理时间:</font></td>
                <td width="80%" style='border-top:1px dotted #ccc;'>$replydb[posttime]</td>
              </tr>
              <tr> 
                <td width="20%" style='border-top:1px dotted #ccc;'><font color="#FF0000">详情:</font></td>
                <td width="80%" style='border-top:1px dotted #ccc;'>$replydb[content]</td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
