<!--
<?php
print <<<EOT
--> <script src="images/default/setday.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="100%" height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">$fidDB[name]</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <script>
function upfile(url,name,size,ty){
	document.getElementById(ty).value=url;
}
</script><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-bottom:10px;">$fidDB[about]</td>
  </tr>
</table>
            <table width="99%" border="0" cellspacing="5" cellpadding="5" id="bigtable">
              <form name="FORM" method="post" action="?action=$atc" enctype="multipart/form-data">
                
<!--
EOT;
if($fidDB[usetitle]){print <<<EOT
-->
				<tr> 
                  <td width="18%">标题:<font color=red>(必填)</font></td>
                  <td width="82%"> 
                    <input type="text" name="postdb[title]" id="atc_title" size="50" value="$rsdb[title]">
                  </td>
                </tr>
<!--
EOT;
}print <<<EOT
-->

                <tr> <td >申请哪个栏目的版主:<font color=red>(必填)</font><br></td> <td ><input style='border:0px;' type='checkbox' name='postdb[sortname][]' value='新闻频道' {$rsdb[sortname]['新闻频道']}>新闻频道&#160;&#160;<input style='border:0px;' type='checkbox' name='postdb[sortname][]' value='下载频道' {$rsdb[sortname]['下载频道']}>下载频道&#160;&#160;<input style='border:0px;' type='checkbox' name='postdb[sortname][]' value='图片频道' {$rsdb[sortname]['图片频道']}>图片频道&#160;&#160;<input style='border:0px;' type='checkbox' name='postdb[sortname][]' value='视频频道' {$rsdb[sortname]['视频频道']}>视频频道&#160;&#160;</td></tr><tr> <td >每天上网几个小时:<br></td> <td > <input type='text' name='postdb[webtime]' id='atc_webtime' size='4' value='$rsdb[webtime]'> 小时</td></tr><tr> <td >真实姓名:<font color=red>(必填)</font><br></td> <td > <input type='text' name='postdb[truename]' id='atc_truename' size='7' value='$rsdb[truename]'> </td></tr><tr> <td >性别:<font color=red>(必填)</font><br></td> <td ><input style='border:0px;' type='radio' name='postdb[sex]' value='1' {$rsdb[sex]['1']}>男<input style='border:0px;' type='radio' name='postdb[sex]' value='2' {$rsdb[sex]['2']}>女<input style='border:0px;' type='radio' name='postdb[sex]' value='0' {$rsdb[sex]['0']}>保密</td></tr><tr> <td >联系QQ:<font color=red>(必填)</font><br></td> <td > <input type='text' name='postdb[oicq]' id='atc_oicq' size='10' value='$rsdb[oicq]'> </td></tr><tr> <td >手机号码:<br></td> <td > <input type='text' name='postdb[mobphone]' id='atc_mobphone' size='11' value='$rsdb[mobphone]'> </td></tr><tr><td >兴趣爱好:<br></td><td ><textarea name='postdb[interest]' id='atc_interest' cols='70' rows='8'>$rsdb[interest]</textarea></td></tr><tr><td >自我介绍:<br></td><td ><textarea name='postdb[introduce]' id='atc_introduce' cols='70' rows='8'>$rsdb[introduce]</textarea></td></tr> 
                <tr> 
                  <td width="18%">&#160;</td>
                  <td width="82%"> 
                    <input type="submit" name="Submit" value="提 交" >
                    <input type="hidden" name="mid" value="$mid">
                    <input type="hidden" name="id" value="$id">
                  </td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
