<!--
<?php
$listdb || $style_list="none;";
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG"><a >TOP</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="99%" border="0" cellspacing="1" cellpadding="3" id="bigtable">
              <form name="form1" method="post" action="">
                <tr align="center"> 
                  <td colspan="2">高 级 搜 索</td>
                </tr>
                <tr align="left"> 
                  <td colspan="2">&#160;</td>
                </tr>
                <tr> 
                  <td width="21%">搜索表单类型</td>
                  <td width="79%">$module_select </td>
                </tr>
                <tr> 
                  <td width="21%">关键字:</td>
                  <td width="79%">
                    <input type="text" name="keyword" value="$keyword">
                  </td>
                </tr>
                <tr> 
                  <td width="21%" height="23">查找字段类型:</td>
                  <td width="79%" height="23"> 
                    <input type="radio" name="type" value="username" $typedb[username]>
                    发布者帐号 </td>
                </tr>
                 
                <tr> 
                  <td width="21%">&#160;</td>
                  <td width="79%"> 
                    <input type="submit" name="Submit" value="提交">
                    <input type="hidden" name="mid" value="$mid">
                    <input type="hidden" name="action" value="search">
                  </td>
                </tr>
              </form>
            </table>
            <br>
            <table width="99%" border="0" cellspacing="1" cellpadding="3" id="bigtable" style="display:$style_list;">
              <tr align="center"> 
                <td width="5%" style="background:#eee;">ID</td>
                <td width="48%" style="background:#eee;">发布者</td>
                <td width="23%" style="background:#eee;">发布日期</td>
                <td width="24%" style="background:#eee;">查看</td>
              </tr>
              <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
              <tr> 
                <td width="5%" align="center" style="border-bottom:1px dotted #ccc;">$rs[id]</td>
                <td width="48%" align="center" style="border-bottom:1px dotted #ccc;"><a href="$webdb[www_url]/member/homepage.php?uid=$rs[uid]" target="_blank">$rs[username]</a></td>
                <td width="23%" align="center" style="border-bottom:1px dotted #ccc;">$rs[posttime]</td>
                <td width="24%" align="center" style="border-bottom:1px dotted #ccc;"><a href="$webdb[www_url]/do/bencandy_form.php?mid=$rs[mid]&id=$rs[id]" target="_blank">查看</a></td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->