<!--
<?php
print <<<EOT
--> 
<script type="text/javascript" src="$webdb[www_url]/ewebeditor/ckeditor/ckeditor.js"></script>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth"  style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=send">
    <tr class="head"> 
      <td width="13%" align="center">&nbsp;</td>
      <td width="87%" align="center">群发短消息</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%" style="width:20%;">接收短消息的用户组:</td>
      <td align="left" width="87%"> <a href="index.php?lfj=$lfj&action=delete_admin_logs&iddb[{$rs[id]}]=1"></a> 
        $group_send </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">每批发送几个:</td>
      <td align="left" width="87%"> 
        <input type="text" name="Num" size="5" value="50">
        (10~500)</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">短消息标题: </td>
      <td align="left" width="87%"> 
        <input type="text" name="Title" size="90">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">短消息内容:</td>
      <td align="left" width="87%"> 
        <!--<iframe id="eWebEditor1" name="eWebEditor1"  src="../ewebeditor/ewebeditor.php?id=content&style=standard&etype={$m_config[moduleSet][etype]}" frameborder="0" scrolling="no" width="{$m_config[moduleSet][edit_w]}" height="{$m_config[moduleSet][edit_h]}"></iframe> 
              <input name="postdb[content]" type="hidden" id="content" value='$rsdb[content]'>-->

 
<textarea id="content1" name="postdb[content]" style="display:none;">$rsdb[content]</textarea>
<script type="text/javascript">
CKEDITOR.replace( 'content1',
{
width:'700px',
height:'300px',
filebrowserBrowseUrl : '$webdb[www_url]/ewebeditor/ckfinder/ckfinder.html',
filebrowserImageBrowseUrl : '$webdb[www_url]/ewebeditor/ckfinder/ckfinder.html?Type=Images',
filebrowserFlashBrowseUrl : '$webdb[www_url]/ewebeditor/ckfinder/ckfinder.html?Type=Flash',
filebrowserUploadUrl : '$webdb[www_url]/ewebeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
filebrowserImageUploadUrl : '$webdb[www_url]/ewebeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
filebrowserFlashUploadUrl : '$webdb[www_url]/ewebeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
});
</script>
 
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="left" width="13%">&nbsp;</td>
      <td align="left" width="87%"> 
        <input type="submit" name="Submit" value="提交">
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
