<!--
<?php
print <<<EOT
-->
<script type="text/javascript" src="$webdb[www_url]/ewebeditor/ckeditor/ckeditor.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">发短消息</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="1" cellpadding="3" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
              <form name="form1" method="post" action="">
                <tr align="center"> 
                  <td width="15%" style="border-bottom:1px dotted #ccc;">接收者:</td>
                  <td width="85%" align="left" style="border-bottom:1px dotted #ccc;"> 
                    <input type="text" value="$username" name="touser">
                  </td>
                </tr>
                <tr> 
                  <td  align="center" width="15%" style="border-bottom:1px dotted #ccc;">标题:</td>
                  <td align="left" width="85%" style="border-bottom:1px dotted #ccc;">
                    <input type="text" name="title" size="90">
                  </td>
                </tr>
                <tr> 
                  <td  align="center" width="15%" style="border-bottom:1px dotted #ccc;">内容:</td>
                  <td align="left" width="85%" style="border-bottom:1px dotted #ccc;"> 
                    <!--<iframe id="eWebEditor1" name="eWebEditor1"  src="../ewebeditor/ewebeditor.php?id=content&style=standard&etype={$m_config[moduleSet][etype]}" frameborder="0" scrolling="no" width="{$m_config[moduleSet][edit_w]}" height="{$m_config[moduleSet][edit_h]}"></iframe> 
              <input name="postdb[content]" type="hidden" id="content" value='$rsdb[content]'>-->

 
<textarea id="content1" name="postdb[content]" style="display:none;">$rsdb[content]</textarea>
<script type="text/javascript">
CKEDITOR.replace( 'content1',
{
width:'650px',
height:'300px',
filebrowserBrowseUrl : '$webdb[www_url]/ewebeditor/ckfinder/ckfinder.html',
filebrowserImageBrowseUrl : '$webdb[www_url]/ewebeditor/ckfinder/ckfinder.html?Type=Images',
filebrowserFlashBrowseUrl : '$webdb[www_url]/ewebeditor/ckfinder/ckfinder.html?Type=Flash',
filebrowserUploadUrl : '$webdb[www_url]/ewebeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
filebrowserImageUploadUrl : '$webdb[www_url]/ewebeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
filebrowserFlashUploadUrl : '$webdb[www_url]/ewebeditor/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
});
</script>
 
                  </td>
                </tr>
                <tr> 
                  <td  align="center" width="15%" style="border-bottom:1px dotted #ccc;">&nbsp; </td>
                  <td align="left" width="85%" style="border-bottom:1px dotted #ccc;"> 
                    <input type="submit" name="Submit" value="提交">
                    <input type="hidden" name="step" value="2">
                  </td>
                </tr>
              </form>
            </table>
          </td>
        </tr><tr><td class="foot"><h3 class="L"></h3><h3 class="R"></h3></td></tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->