<!--
<?php
$showtype || $showtype=1;
print <<<EOT
--> 
<style type="text/css">
<!--

-->
</style>
<table border="0" cellspacing="1" cellpadding="3" width="100%" class="tablewidth" id="editsort">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr align="center"> 
      <td colspan="2" class="head">栏目修改</td>
    </tr>
    <tr align="center"> 
      <td colspan="2" bgcolor="#FFFFFF"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><font color="#FF0000">[<a href="$webdb[www_url]$webdb[path]/list.php?fid=$fid" target="_blank">浏览前台</a>] 
              [<a href="index.php?lfj=artic&job=listartic&fid=$fid&only=$only&mid=$mid" target="_blank">管理内容</a>] 
              </font> $sort_fid</td>
          </tr>
          <tr> 
            <td class="mtop"><a href="#" onclick="choosetb(1)" class="cht" id="tbm1">基本设置</a> <a href="#" onclick="choosetb(2)" id="tbm2">风格样式</a> 
              <a href="#" onclick="choosetb(3)" id="tbm3">权限设置</a> <a href="#" onclick="choosetb(4)" id="tbm4">其它设置</a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="4" style="background:#F5F5F5;" id="tb1" >
          <tr bgcolor="#FFFFFF"> 
            <td width="40%">名称:</td>
            <td width="60%"> 
              <input type="text" name="postdb[name]" value="$rsdb[name]">
            </td>
          </tr><tr bgcolor="#FFFFFF"> 
            <td width="40%">所属类型:<br>
              (栏目与分类的区别如下,栏目可投稿,分类不可投稿,分类里可创建分类或栏目,但栏目里不可创建栏目也不能创建分类,如不遵循此规则,则易出问题) 
            </td>
            <td width="60%"> 
              <input type="radio" name="postdb[type]" value="0" $typedb[0]>
              栏目 
              <input type="radio" name="postdb[type]" value="1" $typedb[1]>
              分类 
              <input type="radio" name="postdb[type]" value="2" $typedb[2]>
              单篇文章 </td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <td width="40%">所属分类:</td>
            <td width="60%"> $sort_fup</td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <td width="40%">本栏目发表内容默认属于哪个模型:</td>
            <td width="60%"> $module_id</td>
          </tr>
		          <!--
EOT;
if($rsdb[type]==0){print <<<EOT
-->  
		  <tr bgcolor="#FFFFFF"> 
            <td width="40%">允许投稿的用户组<br>
              （不选择，则无权限.然而超级管理员与栏目管理员默认有权限）:</td>
            <td width="60%"> $group_post</td>
          </tr>
          

          <tr bgcolor="#FFFFFF"> 
            <td width="40%">是否在首页调用显示本栏目内容:</td>
            <td width="60%"> 
              <input type="radio" name="index_showtitle" value="1" $index_showtitle[1]>
              显示 
              <input type="radio" name="index_showtitle" value="0" $index_showtitle[0]>
              不显示 
              <input type="hidden" name="_index_showtitle" value="$_index_showtitle">
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">是否禁止在父分类下显示本栏目的内容:<br>
              (当父分类下有很多子栏目的时候,就没必要全部显示出来)</td>
            <td width="60%"> 
              <input type="radio" name="postdb[forbidshow]" value="0" $forbidshow[0]>
              显示 
              <input type="radio" name="postdb[forbidshow]" value="1" $forbidshow[1]>
              不显示 </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">列表页每页显示多少条内容:</td>
            <td width="60%"> 
              <input type="text" name="postdb[maxperpage]" size="5" value="$rsdb[maxperpage]">
              条 (留空则以默认为标准)</td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">列表页内容排序方式:</td>
            <td width="60%"> 
              <select name="postdb[listorder]">
                <option value="0" $listorder[0]>默认</option>
                <option value="1" $listorder[1]>发表时间降序</option>
                <option value="2" $listorder[2]>发表时间升序</option>
                <option value="3" $listorder[3]>点击率降序</option>
                <option value="4" $listorder[4]>点击率升序</option>
                <option value="5" $listorder[5]>最近浏览</option>
                <option value="7" $listorder[7]>顶的次数降序</option>
                <option value="8" $listorder[8]>顶的时间降序</option>
                <option value="6" $listorder[6]>随机显示(数据大时，很影响速度)</option>
              </select>
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">本栏目内容页是否启用评论<span help=1>有的风格不受控制,如果系统没用启用评论的话,这里设置无效.</span>:</td>
            <td width="60%"> 
              <input type="radio" name="postdb[allowcomment]" value="1" $allowcomment[1]>
              启用评论 
              <input type="radio" name="postdb[allowcomment]" value="0" $allowcomment[0]>
              禁用评论 </td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
          <!--
EOT;
if($rsdb[type]==1){print <<<EOT
-->
           
           
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td>每个子栏目显示多少条内容:</td>
            <td width="60%"> 
              <input type="text" name="sonTitleRow" size="5" value="{$rsdb[config][sonTitleRow]}">
              条 (留空则以默认为标准) </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td>子栏目中每个标题显示多少个字节(一汉字相当于两个字节)</td>
            <td width="60%"> 
              <input type="text" name="sonTitleLeng" size="5" value="{$rsdb[config][sonTitleLeng]}">
              个 (留空则以默认为标准) </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">子栏目内容排序方式:</td>
            <td width="60%"> 
              <select name="sonListorder">
                <option value="0" $sonListorder[0]>默认(效率很高)</option>
                <option value="1" $sonListorder[1]>发表时间降序</option>
                <option value="2" $sonListorder[2]>点击率降序</option>
                <option value="3" $sonListorder[3]>最近浏览</option>
                <option value="4" $sonListorder[4]>随机显示（数据大时，极其影响速度）</option>
              </select>
            </td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3" style="background:#F5F5F5;display:none;" id="tb2">
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="26%">风格:(仅对部分模板有效)</td>
            <td width="74%">$style_select</td>
          </tr>          <!--
EOT;
if($rsdb[type]==1){print <<<EOT
-->
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="26%">子栏目显示样式:<br>
              (文章模型,可自由选择,非文章模型,请尽量保留默认) <span help=1><br>
              模板存放在此目录/template/default/bigsort_tpl/<br>
              你可以参考现有的模板做更多的样式模板放在此目录即可.mod_开头的文件名,是模型专用模板,一般不使用mod_做开头的文件名<br>
              或者你可以到官方站下载更多的资源,<a href="http://www.qibosoft.com/downdata.php?job=bigsort_tpl" target="_blank"><font color="#FF0000">下载</font></a></span></td>
            <td width="74%"> 
               
              <input type="hidden" name="ListShowBigType" id="ListShowType" value="{$rsdb[config][ListShowBigType]}">
              $getLabelTpl </td>
          </tr>
          
<!--
EOT;
}elseif($rsdb[type]==0){print <<<EOT
-->  
		  <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="26%">列表页的内容显示样式:<span help=1><br>
              模板存放在此目录/template/default/list_tpl/<br>
              你可以参考现有的模板做更多的样式模板放在此目录即可.mod_开头的文件名,是模型专用模板,一般不使用mod_做开头的文件名<br>
              或者你可以到官方站下载更多的资源,<a href="http://www.qibosoft.com/downdata.php?job=list_tpl" target="_blank"><font color="#FF0000">下载</font></a></span></td>
            <td width="74%" height="260" valign="top"> 
              <input type="hidden" name="ListShowType" id="ListShowType" value="{$rsdb[config][ListShowType]}">
              如果下面显示内容简介,那么内容显示几个字节 
              <input type="text" name="listContentNum" size="5" value="{$rsdb[config][listContentNum]}">
              个<br>
              $getLabelTpl </td>
          </tr> <!--
EOT;
}print <<<EOT
--><SCRIPT LANGUAGE="JavaScript">
<!--
var upfile_PicNumId=0;

function show_MorePic(todo){
	if(todo==1){
		upfile_PicNumId++;
	}else if(todo==-1){
		upfile_PicNumId--;
	}
	if(upfile_PicNumId<0){
		alert("已经是第一个了!");
		upfile_PicNumId=0;
	}
	if( upfile_PicNumId>(ImgLinks.length-1) ){
		alert("已经是最后一个了!");
		upfile_PicNumId=ImgLinks.length-1;
	}
	if(todo==-1||todo==1){
		showTplDiv(true);
	}else{
		showTplDiv(false);
	}
	
	NUM=upfile_PicNumId;//+2;
	document.getElementById("selectTyls").options[NUM].selected = true;

}
show_MorePic()

function selectTpl(selObj){
	n=selObj.selectedIndex;
	value=selObj.options[n].value
	if(value=='-2'){
		var typesort='$rsdb[type]'
		if(typesort=='0'){
			window.open("index.php?lfj=template&job=maketpl2&filepath=list_tpl/$timestamp.htm&filecode=list_tpl/0.htm");
		}else if(typesort=='1'){
			window.open("index.php?lfj=template&job=maketpl2&filepath=bigsort_tpl/$timestamp.htm&filecode=bigsort_tpl/0.htm");
		}
		return ;
	}
	if(n==1){
		//makenew();
	}
	if(n<2){
		//return;
	}
	upfile_PicNumId=n;//-2;
	showTplDiv(true);
}

function showTplDiv(t){
	get_obj("upfile_PicNum").innerHTML="<font color=red>"+(upfile_PicNumId+1)+"</font>/"+ImgLinks.length;
	get_obj("upfile_PicUrl").src=get_obj("showPicID").href=ImgLinks[upfile_PicNumId];
	get_obj("upfile_PicUrl").alt=ImgTitle[upfile_PicNumId];
	
	if(t==true){
		arr=ImgLinks[upfile_PicNumId].split('template/default/');
		arr2=arr[1].split('.jpg');
		get_obj('ListShowType').value=arr2[0];
	}
}

function loadtpl(){
	for(var i=0;i<ImgLinks.length;i++){
		arr=ImgLinks[i].split('template/default/');
		arr2=arr[1].split('.jpg');
		if(get_obj("ListShowType").value==arr2[0]){
			upfile_PicNumId=i;
		}
	}
	NUM=upfile_PicNumId;//+2;
	document.getElementById("selectTyls").options[NUM].selected = true;
	showTplDiv();
}
loadtpl();
//-->
</SCRIPT>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="26%">栏目模板:<br>
              (一般留空,即以默认为标准) </td>
            <td width="74%"> 头部模板: 
              <input type="text" name="postdb[tpl][head]" value="$tpl[head]" id="tpl_head" size="40">
              $tpl_head<br>
              底部模板: 
              <input type="text" name="postdb[tpl][foot]" value="$tpl[foot]" id="tpl_foot" size="40">
              $tpl_foot<br>
              列表模板: 
              <input type="text" name="postdb[tpl][list]" value="{$tpl['list']}" id="tpl_list" size="40">
              {$tpl_list}[<A HREF='#' onclick="window.open('index.php?lfj=template&job=maketpl&type=2&obj_id=tpl_list','','width=650,height=500')" style='color:blue;'>上传一个新模板</A>]<br>
              <!--
EOT;
if($rsdb[type]==0){print <<<EOT
-->
              内容模板: 
              <input type="text" name="postdb[tpl][bencandy]" value="$tpl[bencandy]" id="tpl_bencandy" size="40">
              {$tpl_bencandy}[<A HREF='#' onclick="window.open('index.php?lfj=template&job=maketpl&type=3&obj_id=tpl_bencandy','','width=650,height=500')" style='color:blue;'>上传一个新模板</A>]
              <!--
EOT;
}print <<<EOT
-->
            </td>
          </tr>
          
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3" style="background:#F5F5F5;display:none;" id="tb3">
          <!--
EOT;
if($rsdb[type]==0){print <<<EOT
-->
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">栏目管理员,如有多位,请用英文逗号,隔开:</td>
            <td width="60%"> 
              <input type="text" name="postdb[admin]" value="$rsdb[admin]" size="60">
              <input type="hidden" name="old_admin" value="$rsdb[admin]">
            </td>
          </tr>
          <tr bgcolor="#FFFFFF" class="hidetr"> 
            <td width="40%">浏览标题的用户组,<br>
              （不设置，则所有用户组有权限.然而超级管理员与栏目管理员默认有权限）:</td>
            <td width="60%"> $group_viewtitle</td>
          </tr>
          <tr bgcolor="#FFFFFF" class="hidetr"> 
            <td width="40%">浏览标题+内容的用户组,<br>
              （不设置，则所有用户组有权限.然而超级管理员与栏目管理员默认有权限）:</td>
            <td width="60%"> $group_viewcontent</td>
          </tr>
          <tr bgcolor="#FFFFFF" class="hidetr"> 
            <td width="40%">下载附件的用户组<br>
              （不设置，则所有用户组有权限.然而超级管理员与栏目管理员默认有权限）:</td>
            <td width="60%"> $group_download</td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">栏目密码:</td>
            <td width="60%"> 
              <input type="text" name="postdb[passwd]" value="$rsdb[passwd]" size="32">
            </td>
          </tr>
          <!--
EOT;
}else{print <<<EOT
-->
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td colspan="2" align="center">提示:大分类不需要设置权限!!</td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3" style="background:#F5F5F5;display:none;" id="tb4">
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="26%">静态网页表现形式: <span help=1><br>
              (留空则以系统默认为标准)<br>
              系统默认是:<br>
              列表页:<font color="#0000FF">$webdb[list_filename]</font><br>
              内容页:<font color="#0000FF">$webdb[bencandy_filename]</font><br>
              你可以把<font color="#FF0000">html/</font>去除,则在本系统的根目录,你也可以把<font color="#FF0000">{\$dirid}/</font>删除,这样的话,存在一个问题就是一个栏目如果太多文章就会造成一个目录太多文件,<font color="#FF0000">{\$fid}</font>可以换成栏目的英文名,内容页也可以换成日期的组合,日期的格式是<br>
              {\$time_Y} 年(如:2008) {\$time_y} 年(如:08)<br>
              {\$time_m} 月 {\$time_d} 日 {\$time_W} 周(如:第21周)<br>
              {\$time_H} 时 {\$time_i} 分 {\$time_s} 秒<br>
              </span></td>
            <td width="74%"> 
              <p>列表页: 
                <input type="text" name="postdb[list_html]" value="$rsdb[list_html]" id="list_html" size="50">
                <span style="display:$smallsort"><br>
                <!--
EOT;
if($rsdb[type]==0){print <<<EOT
-->
                内容页: 
                <input type="text" name="postdb[bencandy_html]" value="$rsdb[bencandy_html]" id="bencandy_html" size="50">
                <!--
EOT;
}print <<<EOT
-->
                </span></p>
              <p>选择样式: [<a href="javascript:choose_html(1);"><font color="#0000FF">最佳</font></a>] 
                [<a href="javascript:choose_html(2);"><font color="#0000FF">个性1</font></a>] 
                [<a href="javascript:choose_html(3);"><font color="#0000FF">个性2</font></a>] 
                [<a href="javascript:choose_html(4);"><font color="#0000FF">个性3</font></a>] 
                [<a href="javascript:choose_html(5);"><font color="#0000FF">个性4</font></a>]</p>
              <SCRIPT LANGUAGE="JavaScript">
<!--
function choose_html(t){
	if(t==1){
		var list="html/{\$fid}/{\$page}.html";
		var show="html/{\$fid}-{\$dirid}/{\$id}-{\$page}.html";
	}else if(t==2){
		var list="$htmldirname/{\$page}.html";
		var show="$htmldirname/s{\$id}-{\$page}.html";
	}else if(t==3){
		var list="{\$fid}/list-{\$page}.html";
		var show="{\$fid}-{\$dirid}/show-{\$id}-{\$page}.html";
	}else if(t==4){
		var list="$htmldirname/{\$page}.html";
		var show="$htmldirname/{\$time_Y}{\$time_m}{\$time_d}/{\$id}-{\$page}.html";
	}else if(t==5){
		var list="$htmldirname/list-{\$page}.html";
		var show="$htmldirname/show-{\$time_Y}{\$time_W}/{\$time_Y}{\$time_m}{\$time_d}{\$time_H}{\$time_i}{\$time_s}-{\$page}.html";
	}
	if(document.getElementById("bencandy_html")!=null)document.getElementById("bencandy_html").value=show;
	
	document.getElementById("list_html").value=list;
}
//-->
</SCRIPT>
              注意:内容页的{\$id}如果去除的话,必须把日期的时分秒都补上,不然的话,会有文件雷同<br>
              自己修改样式注意的是,不能为汉字,确保内容页文件不能雷同,确保一个目录文件不能大于3000个</td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="26%" rowspan="2">绑定域名(一般留空):<span help=1><br>
              举例,比如以上的静态网页表现形式为html/\$fid/***<br>
              那么绑定为html/<br>
              又比如,默认生成的静态页访问网址是<br>
              新闻中心是:http://1.com/html/2/index.htm<br>
              娱乐新闻是:http://1.com/html/2/3/index.htm<br>
              社会新闻是:http://1.com/html/2/4/index.htm<br>
              那么你可以把新闻中心归为一个频道,使用一个二级域名.如<br>
              http://news.1.com/<br>
              那么新闻中心栏目绑定的域名是http://news.1.com<br>
              那么新闻中心栏目绑定的目录是html/<br>
              那么娱乐新闻栏目绑定的域名是http://news.1.com<br>
              那么娱乐新闻栏目绑定的目录是html/<br>
              那么社会新闻栏目绑定的域名是http://news.1.com<br>
              那么社会新闻栏目绑定的目录是html/<br>
              也就是说.使用http://news.1.com/代替了<br>
              http://1.com/html/<br>
              这样看起来.就更像一个频道如:<br>
              新闻中心变成:http://news.1.com/index.htm<br>
              娱乐新闻变成:http://news.1.com/3/index.htm<br>
              社会新闻变成:http://news.1.com/4/index.htm <br>
              原理就是,使用新的二级域名替换原来整站的一级域名.子栏目的静态页必须要生成在父分类的目录下.才方便处理<br>
              要想禁止一级域名.即整站域名访问的话,就需要把静态页生成在整站的根目录之上.与整站目录并列为同级目录.如整站目录是 d:/root/www/<br>
              那么生成的静态页就不能在这个目录下面,以避免整站域名访问,你需要生成在他外面,如<br>
              d:/root/w2html/<br>
              <font color="#FF0000">注意:</font>一旦设置了二级域名的话,必须要在网站全局参数设置那里设置一下cookie有效域名.否则网站会运行不正常.<br>
              </span></td>
            <td width="74%">绑定目录 
              <input type="text" name="postdb[domain_dir]" value="$rsdb[domain_dir]">
              (必须是静态页表现形式的部分目录名,结尾要加<font color="#FF0000">/</font>,如<font color="#FF0000">html/</font>) 
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="74%">域名 
              <input type="text" name="postdb[domain]" size="50" value="$rsdb[domain]">
              (结尾不需要加<font color="#FF0000">/</font>,如<font color="#FF0000">http://news.2.com</font>)</td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">跳转到外部地址:<br>
              (输入其它地址后,将不会显示本栏目) </td>
            <td width="60%"> 
              <input type="text" name="postdb[jumpurl]" value="$rsdb[jumpurl]" size="60">
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">栏目LOGO装饰图片:</td>
            <td width="60%"> 
              <input type="text" name="postdb[logo]" value="$rsdb[logo]" id="sortlogo" size="60">
              <a href='javascript:' onClick='window.open("upfile.php?lfj=$lfj&dir=sortlogo&label=sortlogo","","width=350,height=50,top=200,left=400")'>点击上传图片</a> 
              <SCRIPT LANGUAGE="JavaScript">
<!--
function upfile(url,name,size,p){
	document.getElementById(p).value=url;
}
//-->
</SCRIPT>
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">SEO关键字:</td>
            <td width="60%">
              <input type="text" name="postdb[metakeywords]" value="$rsdb[metakeywords]" size="60">
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"  class="hidetr"> 
            <td width="40%">SEO栏目描述(支持HTML):</td>
            <td width="60%">
              <textarea name="postdb[descrip]" cols="50" rows="7">$rsdb[descrip]</textarea>
            </td>
          </tr>
        </table>
        <br>
        <SCRIPT LANGUAGE="JavaScript">
<!--
function choosetb(t){
	for(var i=1;i<5 ;i++ ){
		if(t==i){
			document.getElementById("tb"+i).style.display='';
			document.getElementById("tbm"+i).className='cht';
		}else{
			document.getElementById("tb"+i).style.display='none';
			document.getElementById("tbm"+i).className='';
		}
	}
}
choosetb($showtype);
//-->
</SCRIPT>
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="postdb[fid]" value="$fid">
      </td>
    </tr>
  </form>
</table>
<br>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr class="head"> 
      <td>帮助说明</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td>头部模板,底部模板,内容模板,列表模板,你都可以自己做一个有个性的,然后在上面输入他们所在的目录即可调用显示.留空的话.将以默认为标准.<br>
        或者你可以不做头部与底部模板.只做内容模板,此时上面的头部模板与底部模板就得选择&quot;头部白板&quot;,&quot;底部白板&quot;<br>
        通过做出各种各样的模板,你就可以做出有个性的栏目列表页与内容页,等等.这会变得非常的轻松自如.</td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
