<!--
<?php
print <<<EOT
-->
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth"  id="top_menu">
  <tr>
    <td>[<a href="index.php?lfj=gather&job=list">采集参数列表</a>] [<a href="index.php?lfj=gather&job=add_title">手工添加新规则</a>] 
      [<a href="index.php?lfj=gather&job=addrulesql">导入新规则</a>] [<a href="http://bbs.qibosoft.com/thread-forum-fid-10324.htm" target="_blank">下载新规则</a>] 
    </td>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <tr align="center" class="head"> 
    <td width="5%">序号</td>
    <td>名 称</td>
    <td width="12%">所属分类</td>
    <td width="9%">添加日期</td>
    <td width="12%">标题规则</td>
    <td width="8%">内容规则</td>
	<td width="8%">内容多页</td>
    <td width="9%">相关操作</td>
    <td width="8%">导出规则</td>
    <td width="6%">采集</td>
  </tr>
  <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
  <tr align="center" bgcolor="#FFFFFF" class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
    <td width="5%">$rs[id]</td>
    <td align="left">$rs[webname]</td>
    <td width="12%" align="center">$rs[name]</td>
    <td width="9%">$rs[posttime]</td>
    <td width="12%" ><a href="index.php?lfj=$lfj&job=edit_title&id=$rs[id]">修改规则</a></td>
    <td width="8%"><a href="index.php?lfj=$lfj&job=edit_content&id=$rs[id]">修改规则</a></td>
	<td width="8%"><a href="index.php?lfj=$lfj&job=edit_page&id=$rs[id]">修改设置</a></td>
    <td width="9%"> <a href="index.php?lfj=$lfj&job=edit_content&id=$rs[id]"><img alt='点击修改' src='../member/images/button_edit.png' border=0></a> 
      &nbsp;<a href="index.php?lfj=$lfj&action=deleterule&id=$rs[id]" onClick="return confirm('你确认要删除本条规则吗?')"> 
      <img alt='点击删除' src='../member/images/del_icon2.gif' border=0></a></td>
    <td width="8%"><a href="index.php?lfj=$lfj&job=sharerulesql&id=$rs[id]"><img alt='导出采集规则' src='images/plub.gif' border=0></a></td>
    <td width="6%"><a href="index.php?lfj=$lfj&action=gather_title&id=$rs[id]">采集</a></td>
  </tr>
  <!--
EOT;
}
print <<<EOT
-->
  <tr align="center" bgcolor="#FFFFFF"> 
    <td colspan="10">{$showpage}<a href="index.php?lfj=$lfj&action=gather_title&id=$rs[id]"></a> 
      请选择{$sort_fid}</td>
  </tr>
</table>
<br>
<table width="100%" border="0"  cellpadding="3" cellspacing="1" class="tablewidth">
  <tr class="head"> 
    <td>注意事项:</td>
  </tr>
  <tr>
    <td>
      <p>1.如果采集失败,出错信息包含php_network_getaddresses这样的字符串,那代表网络有问题,或者是你的服务器本机的DNS没配置好,不能解释域名的IP,请检查服务器DNS配置<br>
        2.如果采集失败,出错信息包含URL file-access is disabled这样的字符串,那代表你的服务器PHP设置禁用了allow_url_fopen,请修改服务器php.ini把allow_url_fopen 
        = Off改成allow_url_fopen = On然后重启服务器即可<br>
        3.本采集系统,支持各个自定义内容模型的采集(如图片、下载、视频等),你只需要修改内容采集规则,把自定义模型的字段放进去即可.</p>
      </td>
  </tr>
</table>
<!--
EOT;
?>
-->